<html>
    <head>
        <title>Program</title>
    </head>
    <body>
        <h2>Program</h2>
    </body>
	<button type="button" onClick="location.href='user'"> User </button>
	<button type="button" onClick="location.href='data'"> Data </button>
</html>